
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #0B1320;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

a:hover{
    color:#00FF66;
}

button{
    cursor: pointer;
}

ul{
    list-style-type: none;
    margin: 0px;
}

.hero{
    background-color: #0B1320;
    border-bottom: 2px solid #404A56;

    display: flex;
    flex-flow: column;
    align-items: center;

    width: 100%;
}

.header-wrapper{
    width: 100%;
    background-color: #1F2937;
    margin-bottom: 100px;
    border-bottom: 2px solid #404A56;

    display:flex;
    justify-content: center;
}

.header{
    display: flex;
    justify-content: space-between;

    font-size: 24px;
    color: #00FF66;
    font-weight: 900;

    padding: 12px 0;
    width: 900px;
}

.header-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;

    font-size: 18px;
    font-weight: 500;
    color: #E5E7EB;
}

.intro-container{
   display: flex;
   justify-content: center;
   gap: 16px;

    width: 900px;
    margin-bottom: 100px;
}

.intro-text{
    flex: 1 0 420px;

    font-size: 18px;
color: #E5E7EB;
}

.intro-container img{
    flex: 1 0 420px;
    width: 442px;
    border: 4px solid #1F2937;
    border-radius: 16px;
}

.intro-text h2{
    margin: 0px;
    font-size: 48px;
    font-weight: 900;
    color: #404A56;
}

.intro-text button{
    display: block;
    background-color: #00FF66;
    color: #000;
    margin-top: 16px;
    width: 120px;
    height: 32px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 7px;
    border: 0px;
}

.cards-container{
    background-color: #1F2937;
    border-bottom: 2px solid black;
    display: flex;
    flex-flow: column;
    align-items: center;

    width: 100%;
}

.cards-container h2{
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #000;
    width: 900px;

    margin: 42px 0;
}

.cards{
    width: 900px;;
    margin-bottom: 100px;
    color: #E5E7EB;

    display: flex;
    justify-content: center;
    gap: 52px;
}

.card{
    width: 154px;

    text-align: center;
}

.card img{
    width: 150px;
    height: 150px;;
    border: solid 4px  #00FF66;
    border-radius: 16px;
}

.quote-container{
    background-color: #E5E7EB;
    width: 100%;
    padding: 100px 0;
    border-bottom: 2px solid black;

    display: flex;
    flex-flow: column;
    align-items: center;
}

.quote-container p{
    width: 775px;
    margin: 0px;
}

.quote-text{
    font-size:36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote-author{
    font-size: 25px;
    font-weight: 900;
    text-align: right;
}

.call-to-action-container{
    box-sizing: border-box;
    width: 900px;
    background-color: #A3FFB3;
    border: 2px solid #404A56;
    border-radius: 10px;
    margin: 75px 0;
    padding: 42px 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-to-action-container p{
    color: #1F2937;
}

.call-to-action-container p strong{
    display:block;

    font-size: 20px;
    font-weight: 900;
    color: black;
}

.call-to-action-container button{
    background-color:#00FF66;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    font-weight: 900;
    width: 150px;
    height: 40px;
}

.footer{
    background-color: #1F2937;
    width: 100%;
    font-size: 16px;
    color: #F9FAF8;
    padding: 32px 0;
    text-align: center;
    border-top: 2px solid #404A56;

}
